.defaultBackground,
.aboutBackground,
.contactBackground,
.productsBackground,
.cartBackground {
  min-height: calc(100vh - 66px);
  background: url("../images/homeimage1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productsBackground {
  background-image: url("../images/footer.jpg");
  min-height: 100vh;
}
.aboutBackground {
  background-image: url("../images/footer.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.contactBackground {
  background-image: url("../images/footer.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.cartBackground {
  background-image: url("../images/footer.jpg");
  min-height: 80vh;
}
