$accent-color: blue;

.ButtonRadius {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  border: none;
  width: 100%;
  height: 3rem;
  border-radius: 35px;
  box-shadow: 0 3px 18px 0 rgba(6, 170, 202, 0.3);
  background-color: $accent-color;

  &.transparent {
    background: transparent;
    border: 2px solid white;
    box-shadow: none;

    &.blue {
      color: $accent-color;
      border: 1px solid $accent-color;
    }

    &.gray {
      color: #8b92ab;
      border: 2px solid #8b92ab;
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }
}
