.button-arrow {
  display: inline-block;
  font-family: "Muli", sans-serif;
  font-weight: 800;
  line-height: 1.5;
  color: #8b92ab;
  text-decoration: none;

  img {
    margin-bottom: -2px;
    margin-left: 6px;
  }
}
