// .filter {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: 15px;
// }
// .form-control {
//   font-size: 20px;
// }
.filteer {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
}
