@import "scss/Header";
@import "scss/footer";
@import "scss/BackgroundHeader";
@import "scss/Banner";
@import "scss/Services";
@import "scss/Title";
@import "scss/About";
@import "scss/ButtonArrow";
@import "scss/ButtonRadius";
@import "scss/InputText";
@import "scss/ContactForm";
@import "scss/ContactInfo";
@import "scss/MapContainer";
@import "scss/Sports";
@import "scss/Discount";
@import "scss/Basket";
@import "scss/Filter";
@import "scss/ProductsItem";
@import "scss/Login";
@import "scss/Signup";
@import "scss/MainHeading";
@import "scss/TextArea";
@import "scss/AddProduct";
@import "scss/ModalWrapper";
@import "scss/ProductsAdministration";
@import "scss/Modal";
@import "scss/Administration";
@import "scss/UsersAdministration";
@import "scss/AdministrationP";
@import "scss/AdministrationU";
html,
body {
  font-family: "Muli", sans-serif;
}
