.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Playfair Display", sans-serif;

  .modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    // margin-top: 50px;
    top: 55%;
    left: 50%;
    down: 20%;
    transform: translate(-50%, -50%);
    padding: 7%;
    border-radius: 25px;

    .end {
      text-align: end;
    }

    h1 {
      font-size: 30px;
      text-align: center;
      color: black;
      padding-top: 15px;
    }
    textarea {
      width: 100%;
    }
  }
  .modal-mainmain {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    // margin-top: 50px;
    top: 55%;
    left: 50%;
    down: 20%;
    transform: translate(-50%, -50%);
    padding: 7%;
    border-radius: 25px;

    .end {
      text-align: end;
    }
    .row {
      margin-top: -20px;
      margin-bottom: -20px;
    }
    h1 {
      font-size: 30px;
      text-align: center;
      color: black;
      padding-top: 15px;
      margin-top: -10px;
      padding-left: 100px;
    }
    textarea {
      width: 100%;
    }
  }
}

.display-block {
  display: block !important;
}

.display-none {
  display: none;
}
