.modal-wrapper {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  transform: translateX(-100vw);
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  transition: all 0.4s ease-in-out;
  &.show {
    transform: translateX(0);
  }
}
