html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.sports {
  height: 600px;
  // background-color: rgba(0, 0, 0, 0.04);
  background-color: white;
  margin-top: 50px;
}

.sports-wrapper {
  padding-top: 40px;
  padding-left: 7.34%;
  height: 100%;
}

.sports-header {
  margin-bottom: 15px;
  h2 {
    display: inline;
    color: rgba(0, 34, 102, 0.9);
    text-transform: uppercase;
  }

  .button-arrow-wrapper {
    display: block;
    float: right;
    margin-top: 18px;
    margin-right: 9%;
  }
}

.sports-heading {
  font-family: "Muli", sans-serif;
  font-size: 30px;
  line-height: 0.38;
  color: rgba(0, 34, 102, 0.9);
  font-weight: bold;
}

// .slick-slide {
//     max-width: 954px!important;
// }

.sports-div {
  max-width: 954px;

  img {
    display: inline-block;
    width: 50%;
  }

  .sports-text-div {
    position: relative;
    top: 31px;
    left: -190px;
    display: block;
    float: right;
    width: 35%;
    height: 83.84%;
    background-color: rgba(0, 34, 102, 0.9);
    margin-right: -2px;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    h3 {
      margin: 20px 20px 33px 27px;
      font-family: "Muli", sans-serif;
      font-size: 26px;
      line-height: 1.06;
      letter-spacing: normal;
      color: white;
      font-weight: bold;
    }

    p {
      max-width: 330px;
      margin: 0px 28px 30px 27px;
      font-family: "Muli", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #8b92ab;
    }
  }
}

.slick-next,
.slick-prev {
  &:before {
    content: "" !important;
  }
}

@media only screen and (max-width: 1024px) {
  .sports-div {
    max-width: 500px;

    img {
      display: inline-block;
      width: 50%;
    }

    .sports-text-div {
      position: relative;
      top: 31px;
      left: -190px;
      display: block;
      float: right;
      width: 35%;
      height: 300px;
      background-color: rgba(0, 34, 102, 0.9);
      margin-right: -2px;
      border-radius: 3px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
      h3 {
        margin: 20px 20px 33px 27px;
        font-family: "Muli", sans-serif;
        font-size: 12px;
        line-height: 1.06;
        letter-spacing: normal;
        color: white;
        font-weight: bold;
      }

      p {
        max-width: 330px;
        margin: -19px 28px 30px 27px;
        font-family: "Muli", sans-serif;
        font-size: 10px;
        line-height: 1.5;
        color: #8b92ab;
      }
    }
  }
}
